@use '@/shared/styles/variables' as vars;

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @media (min-width: vars.$breakpoint-tablet) {
    padding: 0 24px;
  }

  @media (min-width: vars.$breakpoint-desktop) {
    padding: 0 32px;
  }
}

.fluid {
  max-width: 100%;
  padding: 0;
}
